@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("/assets/css/receitas.css");
@import url("/assets/css/home.css");
@import url("/assets/css/cadastro.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
}

.quicksand- {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 5.5rem;
  font-style: italic;}

body{
  background: linear-gradient(90deg, rgb(212, 193, 193), rgb(204, 138, 138));
  height: 100%;
  width: 100%;
  }

  /* Personalizar a barra de rolagem em navegadores Webkit */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, rgb(212, 193, 193), rgb(204, 138, 138)); /* Cor de fundo do trilho */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(236, 139, 204), rgb(20, 7, 37)); /* Cor da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

 

